@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/FreeSans.otf") format("opentype");
}

#root {
  width: 100%;
  height: 100vh;
}
